.app{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: gray;
 height:40vh;
 border-radius: 20px;
}
.app1{
  width: 100vw;
  height: 100vh;
  /* background-color: ; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timer{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   gap:5px;
   width: 200px;
   height: 80px;
   background-color: aqua;
   border-radius: 20px;
}
.btt{
  width: 300px;
  height: 150px;
  display: flex;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
.btt button{
  width: 100px;
  height: 45px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btt button:hover{
  animation: shake 0.9s;
  color: black;
  /* background-color: cornsilk; */
}

@keyframes shake {
    0%{
      transform: translate(0px,0px) rotate(1deg);
    }
    25%{
      transform: translate(1px,1px) rotate(3deg);
    }
    50%{
      transform: translate(-1px,-1px) rotate(-3deg);
    }
    75%{
      transform: translate(2px,-1px) rotate(3deg);
    }
    100%{
      transform: translate(-1px,1px) rotate(-3deg);
    }
   
}